:root {
    /*bg colors*/
    --background: #02050e;
    --primary: #1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;
    /*text decoration*/
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
    /*decoration*/
    --fire: #ff6d00;
    --electric: #64d3ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
}

/*header*/
header {
    background:  rgba(175,91,91,1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px;
    position: fixed;
    top: 0;
    z-index: 1;
}

.logo{
    height: 40%;
    border-radius: 12px;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 150px;
    display: flex;
}

.navbar i {
    font-size: 36px;
    display: none;
}

#toggle-menu {
    display: none;
}

.navbar-list {
gap: 30px;
}

.navbar-list a{
    color: var(--text-white);
    font-size: 15px;
    font-weight: 600;
}

a:hover {
    color: black;
}

.cart-icon {
    cursor: pointer;
    height: 25px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid black;
}

/*cuerpo*/

main {
    background-color: #E4C8C8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #050d26;
    width: 100%;
}

#hero {
    margin-top: 65px;
    padding: 70px 0px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    justify-content: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1 {
    font-size: 40px;
    width: 80%;
    font-weight: 800;
    background:  radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.hero-info p {
    font-size: 15px;
    width: 70%;
    color: var(--secondary);
    line-height: 20px;
}

.hero-info p > span {
    font-weight: 700;

}

.hero-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero-btn a {
    color: var(--background);
    border: 3px solid #af5b5b;
    width: 150px;
    padding: 8px 0;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}

.hero-btn a:hover {
    background-color: #af5b5b;
}

.hero-img {
    border-radius: 10px;
    opacity: 0.9;
}

.hero-img img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

/*segunda seccion*/

#info {
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 70px 0;
}

.info-nosotros h2 {
    font-size: 32px;
    font-weight: 800;
}

.info-nosotros p {
    font-size: 18px;
    width: 90%;
    line-height: 30px;
    color: var(--secondary);
    margin: 0px 20px;
}

.info-nosotros p > a {
    color: var(--background);
    border-radius: 10px;
    padding: 5px 0;
    align-items: center;
}

.info-nosotros p > a:hover {
    background-color: #af5b5b;
}

/*tercer seccion*/
#cards {
    padding: 70px 0;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#cards h2 {
    font-weight: 800;
    font-size: 32px;
    text-align: center;
}

.container-cards{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.info-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 290px;
    padding: 30px;
    gap: 20px;
    text-align: center;
    background: var(--background);
    border-radius: 1rem;
}

.info-card h3 {
    color: var(--bg-azul-10);
    font-size: 20px;
    font-weight: 600;
}

.info-card p {
    color: var(--text-gray);
    font-size: 15px;
}

.info-card img {
    width: 50px;
}

/*footer*/
footer {
    background: #E4C8C8;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 60px 0;
}

footer a, p {
    color: black;
    font-weight: 300;
    font-size: 15px;
}

.foot-link {
    display: flex;
    justify-content: center;
    gap: 30px;
}



/*responsive*/

@media (max-width:992px) {
    .cart-icon {
        display: none;
    }
    .hero-info {
        text-align: center;
        width: 90%;
        align-items: center;
    }
    .hero-info h1 {
        display: block;
        width: 100%;
    }
    .hero-info p {
        max-width: 80%;
        font-size: 16px;
    }
    .hero-btn {
        justify-content: center;
    }
    #hero {
        flex-direction: column;
        gap: 40px;
    }
    .container-cards {
        display: flex;
        flex-direction: column;
    }

}

@media (max-width:576px) {
    .navbar ol {
        background: linear-gradient(180deg, rgba(175,91,91,1) 40%, rgba(228,200,200,1) 100%);
        width: 100%;
        height: calc(100vh - 80px);
        position: absolute;
        top: 65px;
        left: 0;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        transform: translateX(200%);
        transition: all 0.3s ease-in-out;
    }
    .navbar i {
        display: flex;
    }
    .hero-img {
        display: none;
    }
    .cart-icon {
        display: none;
    }
    
    #toggle-menu:checked + .navbar-list {
        transform: translateX(0%);
        transition: all 0.3s ease-in;
    }
    .hero-info {
        max-width: 100%;
    }
    #cards h2 {
        width: 80%;
        margin: 0px 20px;
    }
}

