:root {
    /*bg colors*/
    --background: #02050e;
    --primary: #1e50ff;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;
    /*text decoration*/
    --text-gray: #adb9c7;
    --text-white: #f3f4f6;
    /*decoration*/
    --fire: #ff6d00;
    --electric: #64d3ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Raleway', sans-serif;
}

/*header*/
header {
    background: linear-gradient(90deg, rgba(91,250,246,1) 0%, rgba(0,43,255,1) 57%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px;
    position: fixed;
    top: 0;
}

.logo{
    height: 40%;
    border-radius: 12px;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    gap: 150px;
}

.navbar-list {
gap: 30px;
}

.navbar-list a{
    color: var(--text-white);
    font-size: 15px;
    font-weight: 600;
}

a:hover {
    color: black;
}

.cart-icon {
    cursor: pointer;
    height: 25px;
    font-weight: 600;
    padding: 5px 10px;
    border-radius: 10px;
    border: 1px solid black;
}

/*cuerpo*/

main {
    background-color: var(--bg-azul-10);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #050d26;
    width: 100%;
}

#hero {
    margin-top: 65px;
    padding: 70px 0px;
    display: flex;
    align-items: center;
    max-width: 1200px;
    justify-content: center;
}

.hero-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.hero-info h1 {
    font-size: 40px;
    width: 80%;
    font-weight: 800;
    color: #02050e;
}

.hero-info p {
    font-size: 15px;
    width: 70%;
    color: var(--secondary);
    line-height: 20px;
}

.hero-info p > span {
    font-weight: 700;

}

.hero-btn {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero-btn a {
    color: var(--background);
    border: 3px solid var(--electric);
    width: 150px;
    padding: 8px 0;
    align-items: center;
    border-radius: 10px;
    text-align: center;
}

.hero-btn a:hover {
    background-color: var(--electric);
}

.hero-img {
    border-radius: 10px;
    opacity: 0.9;
}

.hero-img img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

/*segunda seccion*/

#info {
    max-width: 1200px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 70px 0;
}

.info-nosotros h2 {
    font-size: 32px;
    font-weight: 800;
}

.info-nosotros p {
    font-size: 18px;
    width: 100%;
    line-height: 30px;
    color: var(--secondary);
}

.info-nosotros p > a {
    color: var(--background);
    border-radius: 10px;
    padding: 5px 0;
    align-items: center;
}

.info-nosotros p > a:hover {
    background-color: var(--electric);
}